<footer>
    <p mt-8 text-xs op-80>
      <a
      b-slate-link
      href="https://sbai.dongstop.link/" target="_blank"
    >
      国粹版
    </a>|
     <a
      b-slate-link
      href="https://mai.dongstop.link/buy/3" target="_blank"
    >
      ChatGPT✨正式版
    </a>|
      <a
      b-slate-link
      href="https://ma.dongstop.link" target="_blank"
    >
      亲妈版
    </a>|
      <a
      b-slate-link
      href="https://r2.adone.eu.org/2023/c26fcb0ef805ef9557931deb640d8cb1.png" target="_blank"
    >
      助力
    </a>
</footer>
