<footer>
  <p class="mt-8 text-xs" style="opacity: 0.3;">
    如不可用请稍候再来
  </p>
    <p mt-8 text-xs op-30>
      <a
      b-slate-link
      href="https://sbai.dongstop.link/" target="_blank"
    >
      GPT国粹版
    </a>
        <a
      b-slate-link
      href="https://tool.taisui.link/" target="_blank"
    >
      网易云刷歌B站原神贴吧签到
    </a>
</footer>
