<footer>
    <p mt-8 text-xs op-30>
      <a
      b-slate-link
      href="https://sbai.dongstop.link/" target="_blank"
    >
      国粹版
    </a>|
     <a
      b-slate-link
      href="https://mai.dongstop.link/buy/3" target="_blank"
    >
      全能版
    </a>|
      <a
      b-slate-link
      href="https://mai.dongstop.link/buy/7" target="_blank"
    >
      买KEY
    </a>|
      <a
      b-slate-link
      href="https://mai.dongstop.link/buy/2" target="_blank"
    >
      捐助✨
    </a>
</footer>
