<footer>
    <p mt-8 text-xs op-30>
      <a
      b-slate-link
      href="https://sbai.dongstop.link/" target="_blank"
    >
      GPT国粹版
    </a>|
     <a
      b-slate-link
      href="https://mai.dongstop.link/buy/3" target="_blank"
    >
      正常版
    </a>|

     <a
      b-slate-link
      href="https://mai.dongstop.link/" target="_blank"
    >
       GPT账号
    </a>|
        <a
      b-slate-link
      href="https://tool.taisui.link/" target="_blank"
    >
      云签到
    </a>
</footer>
